*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 100px;
    border-radius: 50%;

}
.gautam{
    margin-left: 900px;
    height: 550px;
    width: 450px;
}
nav ul li{
    list-style: none;
    font-weight: bold;
    font-size: larger;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #fd4766;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.btn:hover{
    background: transparent;
    border-color: #d8092b;
    color: #b10a26;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .title{
    color: #eb00a5;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
   
}
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    width: 70%;
}
.content h1 span{
    color: #fd4766;
}
.content p{
    width: 55%;
    color: #0c072e;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    margin-top: 25px;
    margin-bottom: 30px;
}